Checks: '-*,google-readability-*,-google-readability-namespace-comments,modernize-*,-modernize-use-equals-default,-modernize-use-nodiscard,performance-*,readability-*,-readability-uppercase-literal-suffix'
